# Initialization

Importing useful scripts and libraries.

In [6]:
%config IPCompleter.greedy=True
%run ../../utils/import.ipynb
%run ../../utils/export.ipynb
%run ../../utils/pandas.ipynb
%run ../../utils/compute-metrics.ipynb

import datetime as dt

# Clustering and sampling by quantity/price

First of all, we slice dataframe of February first.

In [11]:
# Import 
baseDataframe = importRound1DatasetFromPath('../../ressources/ground_truth.csv')
baseDataframe = parseColumns(baseDataframe)

startDate = dt.datetime(2011, 2, 1)
endDate = dt.datetime(2011, 2, 2)

dfFebruaryFirst = sliceDFBetweenDates(baseDataframe, startDate, endDate)

exportDatasetToCsv('./output-february-first.csv', dfFebruaryFirst)
print(dfFebruaryFirst)

       id_user id_item  price  qty        date   time
37476    15240   21671   1.25   48  2011/02/01  08:23
37477    15240   21668   1.25   12  2011/02/01  08:23
37478    15240   21670   1.25   12  2011/02/01  08:23
37479    15240  17013D   0.42   96  2011/02/01  08:23
37480    15240   17096   0.21   48  2011/02/01  08:23
37481    15240   22469   1.65   12  2011/02/01  08:23
37482    15240   22077   1.65   12  2011/02/01  08:23
37483    15240   79321   4.95    4  2011/02/01  08:23
37484    15240   21843  10.95    1  2011/02/01  08:23
37485    15240   22835   4.65    4  2011/02/01  08:23
37486    15240   22083   2.95   12  2011/02/01  08:23
37487    15240   17021    0.3   36  2011/02/01  08:23
37488    15240   21218   3.75    6  2011/02/01  08:23
37489    15240   21485   4.95    3  2011/02/01  08:23
37490    14496   21471   3.75    6  2011/02/01  09:01
37491    14496   22771   1.25   12  2011/02/01  09:01
37492    14496   21672   1.25   12  2011/02/01  09:01
37493    14496   84879   1.69    8  2011/02/01  09:01
37494    14496   22139   4.95    3  2011/02/01  09:01
37495    14496   21485   4.95    3  2011/02/01  09:01
37496    14496   22835   4.65    4  2011/02/01  09:01
37497    14496   22113   3.75    4  2011/02/01  09:01
37498    14496   21257   7.95    2  2011/02/01  09:01
37499    14496   22180   9.95    1  2011/02/01  09:01
37500    14496   22423  12.75    3  2011/02/01  09:01
37501    14496   84945   0.85   12  2011/02/01  09:01
37502    14496   48188   7.95    2  2011/02/01  09:01
37503    14496   21781  14.95    1  2011/02/01  09:01
37504    17147   21121   1.25   24  2011/02/01  09:36
37505    17147   21122   1.25   24  2011/02/01  09:36
...        ...     ...    ...  ...         ...    ...
38327    13110   82486   7.95    6  2011/02/01  15:24
38328    13110   82483   5.95    2  2011/02/01  15:24
38329    13110   22801   3.75    2  2011/02/01  15:24
38330    13110   22720   4.95    2  2011/02/01  15:24
38331    13110   22759   1.65    1  2011/02/01  15:24
38332    13110   22906   1.65    2  2011/02/01  15:24
38333    13110   20685   7.95    1  2011/02/01  15:24
38334    13110   48184   7.95    1  2011/02/01  15:24
38335    13110   48116   7.95    1  2011/02/01  15:24
38336    13110  48173C   7.95    1  2011/02/01  15:24
38337    13110   22692   7.95    1  2011/02/01  15:24
38338    13110   22690   7.95    1  2011/02/01  15:24
38339    13110   22457   2.95    6  2011/02/01  15:24
38340    13110   22149    2.1    1  2011/02/01  15:24
38341    12676  47590B   5.45   21  2011/02/01  15:41
38342    12676   21380   2.95   18  2011/02/01  15:41
38343    12676   22964    2.1    6  2011/02/01  15:41
38344    12676   22938   1.95   12  2011/02/01  15:41
38345    12676   23230   0.42   25  2011/02/01  15:41
38346    12676   22435   1.25   48  2011/02/01  15:41
38347    12676   21499   0.42   25  2011/02/01  15:41
38348    12676   21500   0.42   25  2011/02/01  15:41
38349    12676  47590A   5.45   21  2011/02/01  15:41
38350    12676    POST     40    1  2011/02/01  15:41
38351    12676   21124   1.25   24  2011/02/01  15:41
38352    12676   21122   1.25   24  2011/02/01  15:41
38353    15971   22379    2.1  130  2011/02/01  16:47
38354    15971   22378    2.1   70  2011/02/01  16:47
38355    15971   22377    2.1   70  2011/02/01  16:47
38356    15971  85099B   1.95  100  2011/02/01  16:47

[881 rows x 6 columns]

Then, we regroup all transaction who has similar prices.

# Compute metrics

In [9]:
# Import 
baseDataframe = importRound1DatasetFromPath('../../ressources/ground_truth.csv')

# Compute metrics
computeMetrics(baseDataframe, baseDataframe)

[0.0,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.113012,
 0.047732,
 0.128981,
 0.595683,
 0.148987,
 0.661402,
 0.970753]