In [4]:
%config IPCompleter.greedy=True

def anonymiseUnitPrice(slicedDfs):
    print()
    print('# Unit Price anonymisation')
    print()
    
    res = []
    for index, dfMonthTruth in enumerate(slicedDfs[0:]):
        print('Month n°' + str(index + 1) + ' ------------')
       
        dfCurrentMonth = dfMonthTruth.copy()
        dfCurrentMonth['datetime'] = dfCurrentMonth['datetime'].apply(lambda x:x.replace(hour=12,minute=0))

        count = dfCurrentMonth.groupby(['id_item', 'price']).count()
        countEgal1 = count[count == 1]
        dfCurrentMonth.loc[dfCurrentMonth['id_item'].isin(countEgal1.index.to_list()), ["id_user"]] = ['DEL']
        count = dfCurrentMonth.groupby('id_user').count()
        countEgal1 = count[count == 1]
        dfCurrentMonth['price'] = dfCurrentMonth['price'].round().astype(int)
        res.append(dfCurrentMonth)
    print(res)
    print('END - Unit Price anonymisation')
    print()
    return res

In [5]:
# Test
# Uncomment only for test purpose

#%run ./pandas.ipynb
#%run ./import.ipynb
#%run ./compute-metrics.ipynb

#baseDataframe = importRound1DatasetFromPath('../ressources/ground_truth.csv')
#slicedDFTruth = sliceDFPerMonths(baseDataframe)
#slicedDF = anonymiseUnitPrice(slicedDFTruth)

# prettyPrintMetricUtil(computeMetrics(slicedDF[0], slicedDFTruth[0]))

# Unit Price anonymisation

Month n°1 ------------
Month n°2 ------------
Month n°3 ------------
Month n°4 ------------
Month n°5 ------------
Month n°6 ------------
Month n°7 ------------
Month n°8 ------------
Month n°9 ------------
Month n°10 ------------
Month n°11 ------------
Month n°12 ------------
Month n°13 ------------
[       id_user id_item  price  qty            datetime
0        17850  85123A      3    6 2010-12-01 12:00:00
1        17850   71053      3    6 2010-12-01 12:00:00
2        17850  84406B      3    8 2010-12-01 12:00:00
3        17850  84029G      3    6 2010-12-01 12:00:00
4        17850  84029E      3    6 2010-12-01 12:00:00
5        17850   22752      8    2 2010-12-01 12:00:00
6        17850   21730      4    6 2010-12-01 12:00:00
7        17850   22633      2    6 2010-12-01 12:00:00
8        17850   22632      2    6 2010-12-01 12:00:00
9        13047   84879      2   32 2010-12-01 12:00:00
10       13047   22745      2    6 2010-12-01 12:00:00
11       13047   22748      2    6 2010-12-01 12:00:00
12       13047   22749      4    8 2010-12-01 12:00:00
13       13047   22310      2    6 2010-12-01 12:00:00
14       13047   84969      4    6 2010-12-01 12:00:00
15       13047   22623      5    3 2010-12-01 12:00:00
16       13047   22622     10    2 2010-12-01 12:00:00
17       13047   21754      6    3 2010-12-01 12:00:00
18       13047   21755      6    3 2010-12-01 12:00:00
19       13047   21777      8    4 2010-12-01 12:00:00
20       13047   48187      8    4 2010-12-01 12:00:00
21       13047   22960      4    6 2010-12-01 12:00:00
22       13047   22913      5    3 2010-12-01 12:00:00
23       13047   22912      5    3 2010-12-01 12:00:00
24       13047   22914      5    3 2010-12-01 12:00:00
25       13047   21756      6    3 2010-12-01 12:00:00
26       12583   22728      4   24 2010-12-01 12:00:00
27       12583   22727      4   24 2010-12-01 12:00:00
28       12583   22726      4   12 2010-12-01 12:00:00
29       12583   21724      1   12 2010-12-01 12:00:00
...        ...     ...    ...  ...                 ...
20870    18116   22723      4    1 2010-12-23 12:00:00
20871    18116   22722      4    1 2010-12-23 12:00:00
20872    18116   22283      8    1 2010-12-23 12:00:00
20873    18116   22938      2    2 2010-12-23 12:00:00
20874    18116   21442      1    2 2010-12-23 12:00:00
20875    18116   21441      1    3 2010-12-23 12:00:00
20876    18116   22201      4    1 2010-12-23 12:00:00
20877    18116   22200      4    1 2010-12-23 12:00:00
20878    18116   22207      4    1 2010-12-23 12:00:00
20879    18116   84050      2    2 2010-12-23 12:00:00
20880    18116   20751      2    2 2010-12-23 12:00:00
20881    18116   20754      2    1 2010-12-23 12:00:00
20882    18116   22766      3    2 2010-12-23 12:00:00
20883    18116   21547      3    2 2010-12-23 12:00:00
20884    18116   21358      1    1 2010-12-23 12:00:00
20885    18116   21355      1    1 2010-12-23 12:00:00
20886    18116   21356      1    1 2010-12-23 12:00:00
20887    18116   21354      1    2 2010-12-23 12:00:00
20888    18116   20751      2    2 2010-12-23 12:00:00
20889    18116   22966      1    2 2010-12-23 12:00:00
20890    18116  84029G      4    1 2010-12-23 12:00:00
20891    18116   22616      0   12 2010-12-23 12:00:00
20892    18116   22197      1    2 2010-12-23 12:00:00
20893    18116   22834      2    4 2010-12-23 12:00:00
20894    18116   84378      1    1 2010-12-23 12:00:00
20895    18116   84380      1    1 2010-12-23 12:00:00
20896    18116  84849D      2    1 2010-12-23 12:00:00
20897    18116  84849B      2    1 2010-12-23 12:00:00
20898    18116   22854      5    2 2010-12-23 12:00:00
20899    18116  47559B      1    2 2010-12-23 12:00:00

[20900 rows x 5 columns],        id_user id_item  price  qty            datetime
20900    13313   22386      2   10 2011-01-04 12:00:00
20901    13313   21499      0   25 2011-01-04 12:00:00
20902    13313   21498      0   25 2011-01-04 12:00:00
20903    13313   22379      2    5 2011-01-04 12:00:00
20904    13313   20718      1   10 2011-01-04 12:00:00
20905    13313  85099B      2   10 2011-01-04 12:00:00
20906    13313   20682      3    6 2011-01-04 12:00:00
20907    13313   22961      1   12 2011-01-04 12:00:00
20908    13313   22667      3    6 2011-01-04 12:00:00
20909    13313   22898      2    8 2011-01-04 12:00:00
20910    13313   22896      3    6 2011-01-04 12:00:00
20911    13313   22303      3    6 2011-01-04 12:00:00
20912    13313   22302      3    6 2011-01-04 12:00:00
20913    13313  85123A      3   12 2011-01-04 12:00:00
20914    13313   22808      3   12 2011-01-04 12:00:00
20915    13313   22458      3    8 2011-01-04 12:00:00
20916    13313   22862      4    4 2011-01-04 12:00:00
20917    18097   21733      3   32 2011-01-04 12:00:00
20918    18097   22062      3   24 2011-01-04 12:00:00
20919    18097   22060     10    6 2011-01-04 12:00:00
20920    18097   22151      0   48 2011-01-04 12:00:00
20921    18097   22508      3   16 2011-01-04 12:00:00
20922    18097   21411      4   12 2011-01-04 12:00:00
20923    18097   22644      1   60 2011-01-04 12:00:00
20924    18097   70006      0   48 2011-01-04 12:00:00
20925    18097   21231      1   24 2011-01-04 12:00:00
20926    16656   21911      2   12 2011-01-04 12:00:00
20927    16656   22625      8    8 2011-01-04 12:00:00
20928    16656   21259      5   24 2011-01-04 12:00:00
20929    16656   21790      1  144 2011-01-04 12:00:00
...        ...     ...    ...  ...                 ...
37446    17375   22052      0   25 2011-01-31 12:00:00
37447    17375   22333      2    5 2011-01-31 12:00:00
37448    17375   22334      2    5 2011-01-31 12:00:00
37449    16191   22701      3    2 2011-01-31 12:00:00
37450    16191   22700      3    3 2011-01-31 12:00:00
37451    15881   22667      3    1 2011-01-31 12:00:00
37452    15881   22195      2    1 2011-01-31 12:00:00
37453    15881  84875B      4    1 2011-01-31 12:00:00
37454    15881   84050      2    1 2011-01-31 12:00:00
37455    15881   21947      1    1 2011-01-31 12:00:00
37456    15881  85230B      0    1 2011-01-31 12:00:00
37457    15881   22820      1   48 2011-01-31 12:00:00
37458    15881   21111      3    4 2011-01-31 12:00:00
37459    15881   21468      4    1 2011-01-31 12:00:00
37460    15881   21472      4    1 2011-01-31 12:00:00
37461    15881   21624      6    1 2011-01-31 12:00:00
37462    15881  47567B      6    3 2011-01-31 12:00:00
37463    15881  84509B      4    2 2011-01-31 12:00:00
37464    15881  47559B      1    1 2011-01-31 12:00:00
37465    15881   37449     10    1 2011-01-31 12:00:00
37466    15881   22649      5    1 2011-01-31 12:00:00
37467    15881   22197      1    5 2011-01-31 12:00:00
37468    15881   37495      4    1 2011-01-31 12:00:00
37469    15881   22969      1   12 2011-01-31 12:00:00
37470    15881   22654      6    1 2011-01-31 12:00:00
37471    15881   22617      5    8 2011-01-31 12:00:00
37472    15881   21108      2   45 2011-01-31 12:00:00
37473    15881   22138      5   13 2011-01-31 12:00:00
37474    15881   21034      1    2 2011-01-31 12:00:00
37475    15881   22649      5    1 2011-01-31 12:00:00

[16576 rows x 5 columns],        id_user id_item  price  qty            datetime
37476    15240   21671      1   48 2011-02-01 12:00:00
37477    15240   21668      1   12 2011-02-01 12:00:00
37478    15240   21670      1   12 2011-02-01 12:00:00
37479    15240  17013D      0   96 2011-02-01 12:00:00
37480    15240   17096      0   48 2011-02-01 12:00:00
37481    15240   22469      2   12 2011-02-01 12:00:00
37482    15240   22077      2   12 2011-02-01 12:00:00
37483    15240   79321      5    4 2011-02-01 12:00:00
37484    15240   21843     11    1 2011-02-01 12:00:00
37485    15240   22835      5    4 2011-02-01 12:00:00
37486    15240   22083      3   12 2011-02-01 12:00:00
37487    15240   17021      0   36 2011-02-01 12:00:00
37488    15240   21218      4    6 2011-02-01 12:00:00
37489    15240   21485      5    3 2011-02-01 12:00:00
37490    14496   21471      4    6 2011-02-01 12:00:00
37491    14496   22771      1   12 2011-02-01 12:00:00
37492    14496   21672      1   12 2011-02-01 12:00:00
37493    14496   84879      2    8 2011-02-01 12:00:00
37494    14496   22139      5    3 2011-02-01 12:00:00
37495    14496   21485      5    3 2011-02-01 12:00:00
37496    14496   22835      5    4 2011-02-01 12:00:00
37497    14496   22113      4    4 2011-02-01 12:00:00
37498    14496   21257      8    2 2011-02-01 12:00:00
37499    14496   22180     10    1 2011-02-01 12:00:00
37500    14496   22423     13    3 2011-02-01 12:00:00
37501    14496   84945      1   12 2011-02-01 12:00:00
37502    14496   48188      8    2 2011-02-01 12:00:00
37503    14496   21781     15    1 2011-02-01 12:00:00
37504    17147   21121      1   24 2011-02-01 12:00:00
37505    17147   21122      1   24 2011-02-01 12:00:00
...        ...     ...    ...  ...                 ...
52824    16518   22621      1   48 2011-02-28 12:00:00
52825    16518  85114B      2    6 2011-02-28 12:00:00
52826    16518   21257      8    2 2011-02-28 12:00:00
52827    16518   21259      6    2 2011-02-28 12:00:00
52828    16518  85032B      2    6 2011-02-28 12:00:00
52829    16518   21880      1   12 2011-02-28 12:00:00
52830    17165   22796     10    2 2011-02-28 12:00:00
52831    17165   22699      3    6 2011-02-28 12:00:00
52832    17165   22151      0   24 2011-02-28 12:00:00
52833    17165   21871      1   12 2011-02-28 12:00:00
52834    17165   21231      1   12 2011-02-28 12:00:00
52835    17165   21164      3    6 2011-02-28 12:00:00
52836    17165   20749      8    2 2011-02-28 12:00:00
52837    17165   22147      1   12 2011-02-28 12:00:00
52838    17165   20972      1   12 2011-02-28 12:00:00
52839    17165   22178      1   12 2011-02-28 12:00:00
52840    17462   21430      3   24 2011-02-28 12:00:00
52841    17462   21428      4   16 2011-02-28 12:00:00
52842    17462   22147      1   12 2011-02-28 12:00:00
52843    17462   22150      2    6 2011-02-28 12:00:00
52844    17462   22384      2   10 2011-02-28 12:00:00
52845    17462   20728      2   10 2011-02-28 12:00:00
52846    17462   22720      5    6 2011-02-28 12:00:00
52847    17462   22960      4   12 2011-02-28 12:00:00
52848    17462   22505      4   24 2011-02-28 12:00:00
52849    17462  85099B      2   10 2011-02-28 12:00:00
52850    17462   21936      3    5 2011-02-28 12:00:00
52851    17462   21932      3    5 2011-02-28 12:00:00
52852    17462   22386      2   10 2011-02-28 12:00:00
52853    17462   21933      3    5 2011-02-28 12:00:00

[15378 rows x 5 columns],        id_user id_item  price  qty            datetime
52854    14620   21955      8    2 2011-03-01 12:00:00
52855    14620   48194      8    2 2011-03-01 12:00:00
52856    14620   22556      2   12 2011-03-01 12:00:00
52857    14620   22139      5    3 2011-03-01 12:00:00
52858    14620  84029G      4    4 2011-03-01 12:00:00
52859    14620   21485      5    3 2011-03-01 12:00:00
52860    14620  17091J      1    6 2011-03-01 12:00:00
52861    14620   84678      3    6 2011-03-01 12:00:00
52862    14620   21700      1   12 2011-03-01 12:00:00
52863    14620   22191      8    2 2011-03-01 12:00:00
52864    14620   22192      8    2 2011-03-01 12:00:00
52865    14620   21624      6    3 2011-03-01 12:00:00
52866    14620   20829      2    8 2011-03-01 12:00:00
52867    14620   22960      4    6 2011-03-01 12:00:00
52868    14620   21259      6    2 2011-03-01 12:00:00
52869    14740   22021      2    6 2011-03-01 12:00:00
52870    14740  85206A      2    6 2011-03-01 12:00:00
52871    14740   22967      3    6 2011-03-01 12:00:00
52872    14740   22925      6    2 2011-03-01 12:00:00
52873    14740   21896      2    6 2011-03-01 12:00:00
52874    14740   22960      4    6 2011-03-01 12:00:00
52875    14740   20969      4    4 2011-03-01 12:00:00
52876    14740   22568      4    4 2011-03-01 12:00:00
52877    14740   22749      4    4 2011-03-01 12:00:00
52878    14740   22751      4    4 2011-03-01 12:00:00
52879    14740   22587      1   12 2011-03-01 12:00:00
52880    14740   22565      1   12 2011-03-01 12:00:00
52881    14740  84279B      4    8 2011-03-01 12:00:00
52882    14740   21422      1   16 2011-03-01 12:00:00
52883    14740   20979      1   16 2011-03-01 12:00:00
...        ...     ...    ...  ...                 ...
73924    13118   22371      4   12 2011-03-31 12:00:00
73925    13118   22372      4   12 2011-03-31 12:00:00
73926    13118   22278      5   12 2011-03-31 12:00:00
73927    13118   22499      6    3 2011-03-31 12:00:00
73928    13118   37448      1   18 2011-03-31 12:00:00
73929    13118   22059      1    6 2011-03-31 12:00:00
73930    13118   37447      1   16 2011-03-31 12:00:00
73931    13118   22649      5    6 2011-03-31 12:00:00
73932    13118   21868      1    6 2011-03-31 12:00:00
73933    13118   21876      1    6 2011-03-31 12:00:00
73934    13118   37370      1   12 2011-03-31 12:00:00
73935    13118   90147     10    1 2011-03-31 12:00:00
73936    13118  90026B      8    1 2011-03-31 12:00:00
73937    13118  90026D      8    1 2011-03-31 12:00:00
73938    13118  90014C     10    1 2011-03-31 12:00:00
73939    13118  90014A     10    1 2011-03-31 12:00:00
73940    16600   22084      3    6 2011-03-31 12:00:00
73941    16600   22219      1   12 2011-03-31 12:00:00
73942    16600   22149      2    6 2011-03-31 12:00:00
73943    16600   21403      0   24 2011-03-31 12:00:00
73944    16600   21398      0   48 2011-03-31 12:00:00
73945    16600   21402      0   24 2011-03-31 12:00:00
73946    16600   21397      0   48 2011-03-31 12:00:00
73947    16600   21878      1   12 2011-03-31 12:00:00
73948    16600   21733      3    6 2011-03-31 12:00:00
73949    17781   22423     13    1 2011-03-31 12:00:00
73950    17781   21361     13    7 2011-03-31 12:00:00
73951    16365   84763      1  100 2011-03-31 12:00:00
73952    16365   22222      5    1 2011-03-31 12:00:00
73953    16365   22776     10    1 2011-03-31 12:00:00

[21100 rows x 5 columns],        id_user id_item  price  qty            datetime
73954    18161   22662      2   10 2011-04-01 12:00:00
73955    18161   22296      2   12 2011-04-01 12:00:00
73956    18161   21790      1   12 2011-04-01 12:00:00
73957    18161   22622     10    2 2011-04-01 12:00:00
73958    18161   22393      3    6 2011-04-01 12:00:00
73959    18161  85061W      1   24 2011-04-01 12:00:00
73960    18161   22720      5    6 2011-04-01 12:00:00
73961    18161   22423     13    3 2011-04-01 12:00:00
73962    18161  85123A      3    6 2011-04-01 12:00:00
73963    18161   21794      7    2 2011-04-01 12:00:00
73964    18161   84879      2   16 2011-04-01 12:00:00
73965    18161   20728      2   10 2011-04-01 12:00:00
73966    14886   22622     10    4 2011-04-01 12:00:00
73967    14886   22623      5    6 2011-04-01 12:00:00
73968    14886   22561      2   12 2011-04-01 12:00:00
73969    14886   20726      2   10 2011-04-01 12:00:00
73970    14886   20728      2   10 2011-04-01 12:00:00
73971    14886   22662      2   10 2011-04-01 12:00:00
73972    14886   22382      2   10 2011-04-01 12:00:00
73973    14886   23127      5    4 2011-04-01 12:00:00
73974    14886   23126      5    4 2011-04-01 12:00:00
73975    14886   22961      1   12 2011-04-01 12:00:00
73976    14886   22722      4    4 2011-04-01 12:00:00
73977    14886   22904      3    6 2011-04-01 12:00:00
73978    14886   22666      3    6 2011-04-01 12:00:00
73979    14886   22287      2   12 2011-04-01 12:00:00
73980    14886   22286      2   12 2011-04-01 12:00:00
73981    14886   22291      1   24 2011-04-01 12:00:00
73982    14886   22267      1   12 2011-04-01 12:00:00
73983    14886   22281      6    2 2011-04-01 12:00:00
...        ...     ...    ...  ...                 ...
91992    16422   21213      0  120 2011-04-28 12:00:00
91993    16422   21080      1   96 2011-04-28 12:00:00
91994    16422   20975      1   48 2011-04-28 12:00:00
91995    16422   22087      3   40 2011-04-28 12:00:00
91996    16422   22090      3   40 2011-04-28 12:00:00
91997    18272   21422      1   16 2011-04-28 12:00:00
91998    18272   84817      2    6 2011-04-28 12:00:00
91999    18272   20932      4    4 2011-04-28 12:00:00
92000    18272  18097C      3    6 2011-04-28 12:00:00
92001    18272   21713      2    8 2011-04-28 12:00:00
92002    18272   22666      3    6 2011-04-28 12:00:00
92003    18272   22965      2    6 2011-04-28 12:00:00
92004    18272   22966      1   12 2011-04-28 12:00:00
92005    18272   22969      1   12 2011-04-28 12:00:00
92006    18272   22982      1   12 2011-04-28 12:00:00
92007    18272   22993      1   12 2011-04-28 12:00:00
92008    18272   21399      0   48 2011-04-28 12:00:00
92009    18272   22203      4    4 2011-04-28 12:00:00
92010    18272   22204      4    4 2011-04-28 12:00:00
92011    18272   21212      1   24 2011-04-28 12:00:00
92012    18272   21977      1   24 2011-04-28 12:00:00
92013    18272   21668      1   12 2011-04-28 12:00:00
92014    18272   21671      1   12 2011-04-28 12:00:00
92015    18272   21669      1   12 2011-04-28 12:00:00
92016    18272   21673      1   12 2011-04-28 12:00:00
92017    18272   22557      2   12 2011-04-28 12:00:00
92018    18272   22554      2   12 2011-04-28 12:00:00
92019    17874   20816      2    6 2011-04-28 12:00:00
92020    17874   20622      2    3 2011-04-28 12:00:00
92021    17874   21625      7   11 2011-04-28 12:00:00

[18068 rows x 5 columns],         id_user id_item  price  qty            datetime
92022     15606   21731      2   12 2011-05-01 12:00:00
92023     15606   20749      6   12 2011-05-01 12:00:00
92024     15606   22729      4    8 2011-05-01 12:00:00
92025     15606   22998      0   24 2011-05-01 12:00:00
92026     15606   22665      3   24 2011-05-01 12:00:00
92027     15606   22371      4   12 2011-05-01 12:00:00
92028     15606   20750      6   12 2011-05-01 12:00:00
92029     14800   21067      1    1 2011-05-01 12:00:00
92030     14800   21845      1    1 2011-05-01 12:00:00
92031     14800   21868      1    1 2011-05-01 12:00:00
92032     14800   22884      2    1 2011-05-01 12:00:00
92033     14800   23065     12    1 2011-05-01 12:00:00
92034     14800   21912      4    1 2011-05-01 12:00:00
92035     14800   21179      1    1 2011-05-01 12:00:00
92036     14800   23205      1    1 2011-05-01 12:00:00
92037     14800   23208      2    1 2011-05-01 12:00:00
92038     14800   22352      3    1 2011-05-01 12:00:00
92039     14800   22139      4   24 2011-05-01 12:00:00
92040     14800   23077      1   20 2011-05-01 12:00:00
92041     14800   23158      2   12 2011-05-01 12:00:00
92042     14800   23159      2   12 2011-05-01 12:00:00
92043     14800   23156      2   12 2011-05-01 12:00:00
92044     14800   22431      2    3 2011-05-01 12:00:00
92045     14800   22433      2    3 2011-05-01 12:00:00
92046     14800   21790      1    1 2011-05-01 12:00:00
92047     14800   23154      2   12 2011-05-01 12:00:00
92048     14800   23254      4    5 2011-05-01 12:00:00
92049     14800   23256      4    5 2011-05-01 12:00:00
92050     14800   22432      2    3 2011-05-01 12:00:00
92051     14800   22941      8   12 2011-05-01 12:00:00
...         ...     ...    ...  ...                 ...
113526    13505   20676      1    8 2011-05-31 12:00:00
113527    13505   21843     11    3 2011-05-31 12:00:00
113528    13505  84563B      3    4 2011-05-31 12:00:00
113529    13505   23174      4    6 2011-05-31 12:00:00
113530    13505   23298      5    6 2011-05-31 12:00:00
113531    13505   23100      1   12 2011-05-31 12:00:00
113532    13505   23103      2   24 2011-05-31 12:00:00
113533    13505   23102      1   12 2011-05-31 12:00:00
113534    13505   23109      3    6 2011-05-31 12:00:00
113535    13505   23170      2   12 2011-05-31 12:00:00
113536    13505   23172      2   12 2011-05-31 12:00:00
113537    13505   23175      3    4 2011-05-31 12:00:00